$primary-color: #03738C;
$secondary-color: #D95560;
$link-color: #D95560;
$link-hover-color: #F2949C;
$link-hover-color-two: #b73340;
$light-color:rgba(4, 195, 216, .01);  //rgb(242, 237, 213);
$seperate-line-color: rgba(3, 149, 165, .4);
$primary-fonts-family: 'Cuprum', sans-serif;
$primary-transition: ease-in-out .2s;

/* Color Theme Swatches in Hex */
.Plitvice-Lakes-National-Park---Infrared-1-hex { color: #D95560; }
.Plitvice-Lakes-National-Park---Infrared-2-hex { color: #F2949C; }
.Plitvice-Lakes-National-Park---Infrared-3-hex { color: #03738C; }
.Plitvice-Lakes-National-Park---Infrared-4-hex { color: #04C4D9; }
.Plitvice-Lakes-National-Park---Infrared-5-hex { color: #0396A6; }

/* Color Theme Swatches in Hex */
.Plitvice-Lakes-National-Park---Infrared-1-hex { color: #D95560; }
.Plitvice-Lakes-National-Park---Infrared-2-hex { color: #F2949C; }
.Plitvice-Lakes-National-Park---Infrared-3-hex { color: #03738C; }
.Plitvice-Lakes-National-Park---Infrared-4-hex { color: #04C4D9; }
.Plitvice-Lakes-National-Park---Infrared-5-hex { color: #0396A6; }

/* Color Theme Swatches in RGBA */
.Plitvice-Lakes-National-Park---Infrared-1-rgba { color: rgba(216, 84, 95, 1); }
.Plitvice-Lakes-National-Park---Infrared-2-rgba { color: rgba(242, 147, 155, 1); }
.Plitvice-Lakes-National-Park---Infrared-3-rgba { color: rgba(2, 115, 140, 1); }
.Plitvice-Lakes-National-Park---Infrared-4-rgba { color: rgba(4, 195, 216, 1); }
.Plitvice-Lakes-National-Park---Infrared-5-rgba { color: rgba(3, 149, 165, 1); }

/* Color Theme Swatches in HSLA */
.Plitvice-Lakes-National-Park---Infrared-1-hsla { color: hsla(354, 63, 59, 1); }
.Plitvice-Lakes-National-Park---Infrared-2-hsla { color: hsla(354, 78, 76, 1); }
.Plitvice-Lakes-National-Park---Infrared-3-hsla { color: hsla(191, 96, 28, 1); }
.Plitvice-Lakes-National-Park---Infrared-4-hsla { color: hsla(185, 96, 43, 1); }
.Plitvice-Lakes-National-Park---Infrared-5-hsla { color: hsla(185, 96, 33, 1); }
